In [1]:
import pandas as pd

from dataset import getPrices, getKlines2
from datetime import datetime

2023-05-19 03:56:05.455 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2023-05-19 03:56:05.464 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [2]:
symbol = 'ETHBTC'

In [3]:
df = getKlines2(symbol)
df

,time,open,high,low,close,volume
0,2023-05-15 15:50:00,0.06677500,0.06678100,0.06677300,0.06677300,31.13160000
1,2023-05-15 15:55:00,0.06677300,0.06677300,0.06676400,0.06676400,35.76470000
2,2023-05-15 16:00:00,0.06676400,0.06676500,0.06674400,0.06674400,71.13560000
3,2023-05-15 16:05:00,0.06674400,0.06677100,0.06674100,0.06674200,74.44930000
4,2023-05-15 16:10:00,0.06674100,0.06674200,0.06673400,0.06673400,83.80500000
...,...,...,...,...,...,...
995,2023-05-19 02:45:00,0.06716000,0.06716000,0.06702000,0.06712000,149.57710000
996,2023-05-19 02:50:00,0.06712000,0.06713000,0.06708000,0.06713000,34.10930000
997,2023-05-19 02:55:00,0.06712000,0.06714000,0.06712000,0.06713000,11.68570000
998,2023-05-19 03:00:00,0.06714000,0.06719000,0.06713000,0.06718000,83.65440000
999,2023-05-19 03:05:00,0.06719000,0.06719000,0.06718000,0.06718000,0.29260000

In [6]:
data = df.copy()
data.set_index('time', inplace = True)

data[['close']]

                          close
time
2023-05-15 15:50:00  0.06677300
2023-05-15 15:55:00  0.06676400
2023-05-15 16:00:00  0.06674400
2023-05-15 16:05:00  0.06674200
2023-05-15 16:10:00  0.06673400
...                         ...
2023-05-19 02:45:00  0.06712000
2023-05-19 02:50:00  0.06713000
2023-05-19 02:55:00  0.06713000
2023-05-19 03:00:00  0.06718000
2023-05-19 03:05:00  0.06718000

[1000 rows x 1 columns]

In [7]:
import pandas as pd
import numpy as np

chart_data = pd.DataFrame(np.random.randn(20, 3), columns = ['a', 'b', 'c'])
chart_data

           a         b         c
0  -1.092494  0.515120 -0.483128
1   1.604392  0.229921 -0.852035
2   0.983353 -1.092251  1.602052
3  -0.856031  0.501814 -1.114979
4  -0.166569 -0.263273 -1.203300
5  -1.926862  0.912302  1.575161
6  -0.339376 -0.638208 -0.433997
7   0.615931  1.606889  1.237678
8  -0.177216  0.683795  1.218298
9  -1.332044 -1.249788  0.747056
10 -1.255867  0.174356 -1.892181
11  1.242841 -1.371306  0.217620
12  1.467863  0.151792 -0.568871
13 -1.006158  0.999071  1.014150
14 -0.840985  1.069894 -0.760376
15 -0.374715 -0.114211 -1.589982
16  0.730770  0.651212 -1.489255
17 -0.160779 -0.259519 -1.393465
18 -0.916613 -0.789862 -1.303766
19  2.180710  0.484446 -0.066068